body {
    background-color: #2b2f4b !important;
    
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  .container {
    position: relative;
    z-index: 2;
  

}

nav {
    font-weight: bold;
}

nav ul li {
    transition: all 0.3s ease;
}

nav ul li:hover {
    box-shadow: 0 7px black;
}

  .col-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  h1 {
    font-size: 3rem !important; 
    font-weight: bold !important;
    margin-bottom: 20px;
    font-family: 'Ubuntu' !important; 
  }
 
    #about {
        background-color: #f8f9fa; 
        padding: 80px 0;
      }
  
      
      #about h2 {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 30px; 
      }
  
      
      #profile-img {
        width: 100%;
        height: 100%; 
        border-radius: 20px;
        margin-bottom: 20px; 
        transition: all 0.3s;
      }

      #profile-img:hover {
        transform: scale(1.04);
      }
  
      
      .about-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
  
      
      .about-description {
        max-width: 600px; 
      }

      .social-icons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
      }
    
      .social-icon {
        display: inline-block;
        font-size: 30px;
        margin-right: 10px;
        border: 2px solid transparent;
        border-radius: 50%;
        transition: border-color 0.3s ease-in-out;
      }
    
      .github-icon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #24292e; 
      }
    
      .twitter-icon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1da1f2; 
      }
    
      .linkedin-icon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0077b5; 
      }
    
 
      .social-icon:hover {
        border-color: #3498db; 
      }

      #skills {
        background-color: #eaebed; 
        padding: 80px 0; 
        
      }
    
     
      .skill {
        text-align: center;
        margin-bottom: 30px;
        opacity: 0; 
        transform: translateY(20px); 
        transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
      
      }

      .skill.active {
        opacity: 1; 
        transform: translateY(0); 
      }

      #skills h2 {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 30px; 
      }
    
      .skill i, span {
        font-size: 50px;
        margin-bottom: 20px;
        color: #0077b5;
      }

      .html-icon { color: #e44d26 !important; }
    .css-icon { color: #2965f1 !important; } 
    .js-icon { color: #f0db4f !important; } 
    .bootstrap-icon { color: #563d7c !important; } 
    .nodejs-icon { color: #68a063 !important; } 
    .firebase-icon { color: #ffcb2b !important; } 
    .figma-icon { color: #0ac9f5 !important; } 
    .flutter-icon { color: #02569b !important; } 
    .github-icon { color: #211F1F !important; } 
    .flutter-icon { color: #02569b !important; } 
    .flutter-bird { font-family: 'Font Awesome 5 Brands' !important; content: "\f7b9" !important; }
    
      .skill h3 {
        font-size: 1.5em;
        margin-bottom: 15px;
      }
    
      .skill p {
        font-size: 1em;
      }

      .technology i {
        font-size: 40px;
        margin-bottom: 10px;
        color: #007bff; 
      }
    
      .technology p {
        font-size: 1em;
      }

      .technology {
        text-align: center;
        margin-bottom: 30px;
        padding: 20px; 
        border-radius: 10px; 
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
        transition: transform 0.3s ease-in-out; 
        opacity: 0; 
        transform: translateY(20px);
        transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
      }

      .technology.active {
        opacity: 1; 
        transform: translateY(0);
      }
    
      .technology:hover {
        transform: scale(1.05); 
      }
    
      .technology i {
        font-size: 50px;
        margin-bottom: 10px;
        color: #007bff;
      }
    
      .technology p {
        font-size: 1em;
      }

      #portfolio {
        background-color: #f8f9fa;
        padding: 80px 0; 
      }

      #portfolio h2 {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 30px; 
      }
    
      .portfolio-item {
        text-align: center;
        margin-bottom: 30px;
        padding: 20px; 
        border-radius: 10px; 
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
      }
    
      .portfolio-img {
        width: 100%;
        height: 200px; 
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 15px;
        position: relative; 
        overflow: hidden; 
        transition: transform 0.3s ease-in-out;
      }

      .portfolio-item:hover .portfolio-img {
        transform: scale(1.1); 
      }
    
      .portfolio-item h3 {
        font-size: 1.5em;
        margin-bottom: 15px;
      }
    
      .portfolio-item p {
        font-size: 1em;
      }
    
      .portfolio-item a {
        text-decoration: none;
      }

      .portfolio-item:hover {
        background-color: #fff; 
      }


  .technologies-used {
    color: #6c757d; 
    font-size: 0.8em;
    margin-top: 8px;
  }
  .portfolio-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #007bff); 
    transition: all 0.3s ease-in-out;
    opacity: 0; 
  }

  .portfolio-item:hover::before {
    height: 10%; 
    opacity: 1;
  }

  .portfolio-item:hover {
    background-color: #fff; 
  }

  .iii {
    font-size: 2em;
    margin-top: 20px;
  }

  .portfolio-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  footer {
    background-color: #fff; 
    color: black; 
    padding: 20px 0;
  }
  
  .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-nav li {
    display: inline-block;
    margin-right: 15px;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .footer-nav a:hover {
    color: red;
  }
  
 
  .footer-nav i {
    font-size: 24px;
    margin-right: 10px;
  }
  

  footer p {
    margin: 0;
    font-size: 14px;
  }

